.group22 {
  position: absolute;
  left: -89px;
  top: 3394px;
  width: 2009px;
  height: 1102.83px;
  display: flex;
  justify-content: space-around;
}
.group {
  /* position: absolute; */
  left: -89px;
  top: 3401px;
  width: 350.86px;
  height: 423.07px;
  box-shadow: 0px 10px 4px rgba(100,100,100,0.5);
}

.group{
  /* position: absolute; */
  left: 0px;
  top: 0px;
  width: 350.86px;
  height: 423.07px;
}

.rectangle {
  /* position: absolute; */
  left: 0px;
  top: 0px;
  width: 350.86px;
  height: 423.07px;
  border-radius: 10px;
  background: #ffffff;
  background-blend-mode: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  /* position: absolute; */
  left: 146.28px;
  top: 32.62px;
  width: 105.32px;
  height: 100.64px;
  margin-top: 4%;
  border-radius: 50.32px;
  background-image: url("https://lun-us.icons8.com/a/O4-lqCUFUkupQ1MjzkXwNw/80nNBfdi3ECYAZoUvUG29Q/Avatar.png");
}

.name {
  /* position: absolute; */
  /* left: 35.11px; */
  /* top: 158.42px; */
  /* width: 150.53px; */
  /* height: 72px; */
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  /* line-height: 36px; */
  letter-spacing: 1px;
  /* padding-top:%; */
  margin: 5%;
  text-align: center;
}

.desc {
  /* position: absolute; */
  left: 35.11px;
  top: 225.51px;
  width: 286.32px;
  height: 155.62px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 1px;
}

.whatOurCus {
  position: absolute;
  left: 585.4px;
  top: 3294px;
  width: 518px;
  height: 54px;
  font-family: Poppins;
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 1px;
}

.about{
  font-family: Poppins;
  position: relative;
  font-size: 10px;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  
  padding: 1%;
  /* top: 4010px; */
  width: 820.7px;
  height: 258.85px;
  justify-content: space-between;
  
  align-items: center;
  transform: scale(1, -1);
}
.ab{
  margin-left: 8%;
  margin-right: 8%;
}
.rectangleC {
  position: absolute;
  left: 0px;
  top: 3882px;
  width: 1920px;
  height: 514.83px;
  background: linear-gradient(180deg, #eeeded 0%, #eacccc 100%);
  background-blend-mode: normal;
  transform: scaleY(-1);
  display: flex;
}
